version: '3.9'

services:
  yatrika-backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8088:8080"
    networks:
      - spring-demo
    depends_on:
      - postgres

  postgres:
    container_name: postgres-sql-yatrika
    image: postgres:15
    environment:
      POSTGRES_USER: postgres  # Hardcoded value
      POSTGRES_PASSWORD: PostgreSQL@2000   # Hardcoded value
      PGDATA: /var/lib/postgresql/data
      POSTGRES_DB: yatrika
    volumes:
      - postgres:/data/postgres
    ports:
      - "5433:5432"
    networks:
      - spring-demo
    restart: unless-stopped

  mail-dev:
    container_name: mail-dev-yatrika
    image: maildev/maildev
    ports:
      - "1080:1080"
      - "1025:1025"

networks:
  spring-demo:
    driver: bridge

volumes:
  postgres:
    driver: local