services:
  yatrika-backend:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8088:8080"
    networks:
      - spring-demo
    depends_on:
      - postgres
  postgres:
    container_name: postgres-sql-yatrika
    image: postgres
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      PGDATA: /var/lib/postgresql/data
      POSTGRES_DB: yatrika
    volumes:
      - postgres:/data/postgres
    ports:
      - 5433:5432
    networks:
      - spring-demo
    restart: unless-stopped
  mail-dev:
    container_name: mail-dev-yatrika
    image: maildev/maildev
    ports:
      - 1080:1080
      - 1025:1025
  yatrika-api:
    container_name: yatrika-api
    image: yatrika/yatrika:1.0.0
    ports:
      - 8080:8080
    networks:
      - spring-demo
    depends_on:
      - postgres
networks:
  spring-demo:
    driver: bridge
volumes:
  postgres:
    driver: local