spring:
  application:
    name: yatrika-backend
  profiles:
    active: ${ENV:dev}

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 30MB
      enabled: true

  # Common JPA/Hibernate settings
  jpa:
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
          batch_size: 20
        dialect: org.hibernate.dialect.PostgreSQLDialect
        order_inserts: true
        order_updates: true

  # Shared Jackson settings
  jackson:
    serialization:
      fail-on-empty-beans: false
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false
      accept-empty-string-as-null-object: true

server:
  forward-headers-strategy: framework
  servlet:
    context-path: /
  compression:
    enabled: true
    mime-types: text/html,text/xml,text/plain,text/css,text/javascript,application/json,application/javascript

springdoc:
  swagger-ui:
    requestInterceptor: |
      function (request) {
        request.headers['ngrok-skip-browser-warning'] = 'true';
        return request;
      }