spring:
  application:
    name: yatrika-backend
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev} # Default to dev for local work
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 30MB
  jackson:
    serialization:
      fail-on-empty-beans: false
      write-dates-as-timestamps: false
    deserialization:
      fail-on-unknown-properties: false
  jpa:
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
          batch_size: 20
        order_inserts: true
        order_updates: true
        default_batch_fetch_size: 20
server:
  port: ${PORT:8080}
  forward-headers-strategy: framework
  compression:
    enabled: true